.goods {
  margin-top: 2%;
  margin-bottom: 5%;
}

.goods__blockForImg {
  position: relative;
}

.goods__nav {
  padding-bottom: 10%;
}

.goods__nav .navbar-light .navbar-nav .nav-item .nav-link {
  font-size: 2em;
}

.goods__img {
  position: absolute;
  height: 20%;
}

.L1 {
  height: 46%;
  left: 15%;
  top: 50%;
}

.L2 {
  height: 38%;
  left: 40%;
  top: 10%;
}

.R1 {
  height: 48%;
  left: 10%;
  top: 48%;
}

.R2 {
  height: 36%;
  left: 40%;
  top: 10%;
}

@media screen and (max-width: 992px) {
  .goods__nav .navbar-light .navbar-nav .nav-item .nav-link {
    font-size: 1em;
  }
}