@charset "UTF-8";
.collection-block {
  display: flex;
  flex-wrap: wrap;
  margin: 9.375vw calc(100vw / 20 * 1);
}

.collection-nav .navbar-nav .nav-link {
  color: #1f1f1f;
  font-size: 1.2em;
  font-family: Serifiqo;
  font-weight: bold;
}

.collection-nav .navbar-nav .nav-link:hover {
  font-style: italic;
  color: #b39ea8 !important;
}

.collection-nav .navbar-nav .nav-link:hover::before {
  content: "—";
}