body {
	background-color: #f5ebe3;
}
#Contact{
	position: relative;
	overflow: hidden;
	padding: 2% 0;
}
.contact-logo {
	padding: 5% 0 5% 8%;	
	img {
		width: 20%;
	}
}
.centerTxt {
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: middle;
	p {
		padding: 5% 0;
	}
}
.contact-imgWrap {
	position: absolute;
	top: 0;
	left: 0;
	img{
		width: 50vw;
	}
} 
// .circleMoveCont {
// 	animation-duration: 180s;
// 	animation-delay: 0ms;
// 	animation-timing-function: linear;
// 	animation-name: textRotate;
// 	animation-iteration-count: infinite;
// 	transform-origin: center center;
// }