
.banner-img {
	padding: 5% 0;	
	img {
		width: 10%;
	}
}
.banner-text {
	color: #7c7c7c;
	font-family: TeddyBear;
	font-weight: 100;
	font-style: italic;
	font-size: 5em;
}
@include media-breakpoint-up(md) { 
	.banner-text {
		color: #7c7c7c;
		font-family: TeddyBear;
		font-weight: 100;
		font-style: italic;
		font-size: 7em;
	}
}
