body {
  background-color: #f5ebe3;
}

#Contact {
  position: relative;
  overflow: hidden;
  padding: 2% 0;
}

.contact-logo {
  padding: 5% 0 5% 8%;
}
.contact-logo img {
  width: 20%;
}

.centerTxt {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
}
.centerTxt p {
  padding: 5% 0;
}

.contact-imgWrap {
  position: absolute;
  top: 0;
  left: 0;
}
.contact-imgWrap img {
  width: 50vw;
}